h1 {
  text-align: center;
  }
.jumbotron {
  background-color: #abdbf5;
  color:#cb62e0;
  margin-bottom: 20px;
}
body {
  background-color: #fcd7f9;
  font-family: 'Lucida Sans';
}
.panel {
    border: 5px #cb62e0;
    padding: 10px;
  }
h2 {
  color: #cb62e0;
}
p {
  color: #131c7d;
  font-size: 17px;
}
ul {
  color: #131c7d;
  font-size: 17px;
  margin-bottom:20px;
}
.well h2 {
  color: #abdbf5;
  font-weight: bold;
  background-color: #ffe8fd;
}
blockquote {
  font-style: italic;
  color: #131c7d;
  font-size: 17px;
}

.intro-img {
  margin-left: 40px;
  float: right;
  width: 400px;
}
ol {
  margin-bottom: 20px;
}
.bg-info {
  margin-bottom: 20px;
  padding: 20px;
}
.highlight {
  color: #cb62e0;
}
.panel-heading {
  margin-bottom: 10px;
}
.bg-info h2 {
  margin-top: 0;
}
.intro {
  overflow: hidden;
  margin-bottom: 20px;
}
